---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyA0o4ESaWfpiIrYW2QNwV2T_AaKU-aZpbw&maxResults=50&part=snippet%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20&playlistId=PLsPLPczX0Jmu1EEXD5wshEqPDzjHTvWZz%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/s7QfO2WxJNx5bhxwt3Rm6FD0vHw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/s7QfO2WxJNx5bhxwt3Rm6FD0vHw\"",
         "pageInfo": {
          "totalResults": 9,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/3upxwjK903KCMOpysBH_vWMqbtY\"",
           "id": "UExzUExQY3pYMEptdTFFRVhENXdzaEVxUER6akhUdldaei5GNjNDRDREMDQxOThCMDQ2",
           "snippet": {
            "publishedAt": "2017-01-31T03:34:58.000Z",
            "channelId": "UCqlnTKE0C9ESejlZ7i9QRhA",
            "title": "Pop Punk / Easycore Instrumental - The Chesapeake Boys",
            "description": "Check out my soundcloud for more music:\n\nhttps://soundcloud.com/user-22906380",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/I3x1KoU6eHg/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/I3x1KoU6eHg/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/I3x1KoU6eHg/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/I3x1KoU6eHg/sddefault.jpg",
              "width": 640,
              "height": 480
             }
            },
            "channelTitle": "Michael Alex Lynch",
            "playlistId": "PLsPLPczX0Jmu1EEXD5wshEqPDzjHTvWZz",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "I3x1KoU6eHg"
            }
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/of2grl4IY8PHFqB0Kat0Naiqs-U\"",
           "id": "UExzUExQY3pYMEptdTFFRVhENXdzaEVxUER6akhUdldaei45NDk1REZENzhEMzU5MDQz",
           "snippet": {
            "publishedAt": "2016-05-11T15:38:33.000Z",
            "channelId": "UCqlnTKE0C9ESejlZ7i9QRhA",
            "title": "Easycore / Pop Punk Instrumental - \"Nebraska\"",
            "de[...]
